[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# List any Python dependencies for the image here
[packages]
# This should match the version of the image
example = {git = "https://github.com/cisagov/skeleton-python-library", ref = "v0.2.2"}

# This version should match the version of Python in the image
[requires]
python_full_version = "3.14.3"
